:root {
  --background-color: #222;
  --text-color: #ddd;
  --link-color: #fff;
  --link-color-visited: #999;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.2em;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.ui-block {
  border: solid 1px var(--text-color);
  border-radius: 5px;
  padding: 0.8em;
  margin: 0.5em;
}

.ui-block :last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .ui-block {
    width: 100%;
  }
}

canvas {
  image-rendering: pixelated;
}

header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

p code {
  font-size: 1.2em;
}

form {
  margin-bottom: 1em;
}

form .input-group {
  margin-bottom: 1em;
}

form .input-group-inline {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0;
}

form .input-group label:not(.label-radio) {
  display: block;
  margin-bottom: 5px;
}

form input[type="number"] {
  width: 75px;
  font-size: 24px;
  font-family: monospace;
}

form input[type="number"], form input[type="text"] {
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: 5px;
  padding: 5px;
}

form input[type="submit"] {
  font-size: 18px;
}

form #input-canvas-text {
  font-size: 18px;
  font-family: monospace;
  width: 250px;
}

#gif-container {
  /* Hide it initially */
  display: none;
}
